


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f7fa;
    color: #333;
}

nav {
    background: #663adf;
    padding: .8rem;
    margin: .3px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

@media (min-width : 600px) {
  nav {
   font-size: 1.5rem;
}
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: 500;

    padding: 5px;
    border: solid rgba(199, 253, 38, 0.829) 3px;
    border-radius: 15%;
}

nav a:hover {
    text-decoration: underline;
    color: black;
    background-color: rgba(255, 255, 255, 0.829);
}

.container {
    max-width: 600px;
    margin: 60px auto;
    padding: 40px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input,
textarea {
    width: 100%;
    padding: 14px;
    margin: 12px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}

button {
    padding: 14px 32px;
    margin: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary {
    background: #3b82f6;
    color: white;
}

.btn-success {
    background: #10b981;
    color: white;
}

.btn-danger {
    background: #ef4444;
    color: white;
}

.btn-primary:hover {
    background: #2563eb;
}

.status-active {
    color: #10b981;
    font-weight: bold;
    font-size: 1.4rem;
}

.status-inactive {
    color: #ef4444;
    font-weight: bold;
    font-size: 1.4rem;
}

.phrase {
    background: #f1f5f9;
    padding: 20px;
    border-radius: 8px;
    font-size: 1.3rem;
    word-spacing: px;
    margin: 20px 0;
}